button {

    --btn-color: var(--bg-3);
    
    position: relative;

    border: var(--bordure);
    background: transparent;
    color: var(--fg);

    display: flex;

    height: 34px;
    min-width: 34px;
    border-radius: 8px;

    text-align: center;
    justify-content: center;
    align-items: center;

    font-size: 10pt;
    user-select: none;
    padding: 4px 8px;
    gap: 6px;

    scale: 0.9;
    transition: scale 100ms ease;

    svg {
        font-size: 14pt;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        background: var(--btn-color);
        z-index: -1;
        border-radius: inherit;
        pointer-events: none;
        opacity: 0.2;
        transition: opacity 100ms ease;
    }
  
    &.medium {
        height: 40px;
        min-width: 40px;
    }

    &.primary {
        --btn-color: var(--accent);
        border-color: var(--accent-sec);
    }

    &.transparent {
        &::before { opacity: 0; }
        border-color: transparent;
    }


    &:hover{
        scale: 1;
        &::before {
            opacity: 0.4;
        }
    }

    &:active {
        scale: 0.9;        
        ::before {
            opacity: 0.3;
        }
    }

}
