@use "../../acrylic.scss";
@use "../../aero.scss";

.root-navbar {

    display: flex;

    width: 100%;
    height: 48px;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    @include acrylic.glass(var(--bg), var(--ombre-1), var(--acrylic-blur));
    @include aero.theme();
    border-radius: 0 !important;

    align-items: center;
    justify-content: center;
    padding: 4px;
    box-sizing: border-box;

    gap: 4px;

    .root-layout-page-selector {
        display: flex;
        gap: 4px;
        align-items: center;
        justify-content: center;
        border-left: var(--bordure);
        padding: 0 4px;
    }

    body.acrylic-theme & {
        border-top: var(--bordure);

    }

    body.aero-theme & {
        justify-content: left;
        border: none;
        border-top: 1px solid black;
        .bg {
            border-radius: 0;
            &::before {
                content: "";
                border-top: 1px solid rgba(255,255,255,.7);
                position: absolute;
                pointer-events: none;
                width: 100%;
                top: 0; left: 0; 
                border-radius: 0; 
            }

        }
    }

}