.layoutManager {

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 48px;

    padding: 8px;
    box-sizing: border-box;
    gap: 8px;

    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;

    .layoutPanel {
        position: absolute;

        display: grid;

        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 8px;
        box-sizing: border-box;
        gap: 8px;

        transition: left ease 100ms;

        align-items: center;

        &.past {
            left: -100%;
        }

        &.future {
            left: 100%;
        }

        &.single {
            grid-template-columns: auto;
            grid-template-rows: auto;
        }

        &.bi {
            grid-template-columns: auto auto;
            grid-template-rows: auto;
	    &.stack {
		grid-template-columns: auto;
		grid-template-rows: auto auto;
	    }
        }

        &.tri {
            grid-template-columns: auto auto auto;
            grid-template-rows: auto;
        }
        
        &.quad {
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
        }

        &.list {
            display: flex;
            flex-direction: column;
            overflow: auto;
        }

    }

}

@media (max-aspect-ratio: 1/1) {
    .layoutManager {
        flex-direction: column;
    }
}
