@use "../../acrylic.scss";
@use "../../aero.scss";

.outerWin {

    box-sizing: border-box;
    // border: 1px solid blue;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;

    .windowCont {

        max-width: 100%;
        max-height: 100%;
        height: 100%;
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        aspect-ratio: 16/9;
        // border: 1px solid green;
        display: flex;
        align-items: center;
        justify-content: center;

        
    }
    
}

.window {

    @include acrylic.glass(var(--bg), var(--ombre-1), var(--acrylic-blur));
    @include aero.theme();
    
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 0px;

    aspect-ratio: 16/9;
    // border: 1px solid red;
    overflow: hidden;

    display: grid;
    grid-template-rows: 28px auto;
    gap: 0px;

    transition: all ease .5s;

    .window-titlebar {
        height: 100%;
        box-sizing: border-box;
        border-bottom: var(--bordure);
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 8px;
        gap: 4px;
        overflow: hidden;

        .close {
            float: right;
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
        }

    }

    &.alt {

        aspect-ratio: unset;
        width: 100%;
        min-width: 400px;
        height: 100%;

    }


    body.acrylic-theme & {
        border: var(--bordure);
        border-radius: 6px;    

        .window-titlebar {
            
            .close {
                height: 100%;
                padding: 0;
                border-radius: 0;
                height: 100%;
                position: relative;
                width: 42px;
                font-size: 15px;
                font-weight: lighter;

                &:hover {
                    background: darken(rgb(206, 15, 15), 4%)
                }
                &:active {
                    background: darken(rgb(206, 15, 15), 15%)
                }
            }

        }

    }

    body.aero-theme & {

        padding: 6px;
        padding-top: 3px;
        grid-template-rows: 20px auto;

        .window-titlebar {

            .close {

                position: absolute;
                height: 18px;
                width: 45px;

                top: 0px;
                right: 8px;

                border: none;
                border-right: black 1px solid;
                border-left: black 1px solid;
                border-bottom: black 1px solid;

                --bg-gradient: radial-gradient(circle, rgb(206, 15, 15), transparent 70%);
                --hover-color: rgb(206, 15, 15);

                background-color: darken(rgb(206, 15, 15), 8%);
                background-image: linear-gradient(to bottom, rgba(255,255,255,.4) , rgba(255,255,255,.1) 50%, transparent 50%), var(--bg-gradient);

                border-bottom-left-radius: calc(aero.$aeroBRadius / 2);
                border-bottom-right-radius: calc(aero.$aeroBRadius / 2);

                &::after {
                    content: '';
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    transition: ease box-shadow .1s;
                    border-bottom-right-radius: calc(aero.$aeroBRadius / 2);
                    border-bottom-left-radius: calc(aero.$aeroBRadius / 2);
                }
                
                .i { 
                    color: white; 
                    user-select: none;
                    text-shadow: black 0px 0px 2px,black 0px 0px 2px,black 0px 0px 2px,black 0px 0px 2px,black 0px 0px 2px,black 0px 0px 2px ; 
                    height: 100%;
                    width: 100%;
                    line-height: 16px;
                    font-size: 14px;
                    text-align: center;
                    position: absolute;
                    top: 0; left: 0;
                    border: 1px solid rgba($color: #ffffff, $alpha: .5);
                    box-sizing: border-box;
                    font-weight: bold;
                    border-bottom-right-radius: calc(aero.$aeroBRadius / 2);
                    border-bottom-left-radius: calc(aero.$aeroBRadius / 2);
                }

                &:hover {
                    background-color: darken(rgb(206, 15, 15), 4%);
                    --bg-gradient: radial-gradient(farthest-corner at bottom, rgb(255, 153, 0) 0%, transparent 60%); 

                    &::after { box-shadow: 0 0 8px 0px var(--hover-color), 0 0 8px 0px var(--hover-color); }
                }

                &:active { 
                    background-color: darken(rgb(206, 15, 15), 15%);
                }

            }

        }

        .window-content {
            // background: var(--bg);
        }

    }

}