$aeroBlur: 3px;
$aeroBRadius: 8px;

@mixin background () {
        
    border-radius: $aeroBRadius;
    position: absolute;    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &::before {        
        content: "";        
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: $aeroBRadius;
        mix-blend-mode: luminosity;

        // background-position: calc(-1 * var(--x)) calc(-1 * var(--y));
        background-size: 100vw 100vh;
        background-attachment: fixed;

        --AEROblanc: rgba(250, 250, 250, 0.3);
        --AEROsombre: rgba(210,210,210,0.3);
        --AEROclair: rgba(230, 230, 230, 0.3);

        background-image: linear-gradient(66deg, 
                var(--AEROsombre) 0%, var(--AEROsombre) 8%, var(--AEROblanc) 9%, 
                var(--AEROblanc) 15%, var(--AEROclair) 16%, var(--AEROclair) 22%, 
                var(--AEROsombre) 23%, var(--AEROsombre) 31%, var(--AEROblanc) 33%, 
                var(--AEROblanc) 47%, var(--AEROclair) 49%, var(--AEROclair) 55%, 
                var(--AEROsombre) 57%, var(--AEROsombre) 65%, var(--AEROclair) 67%, 
                var(--AEROclair) 70%, var(--AEROblanc) 73%, var(--AEROsombre) 100%);

    }
    
    background: var(--win7-theme);
    
    mix-blend-mode: multiply;
    opacity: 0.9;
    pointer-events: none;

}

@mixin outline () {
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: $aeroBRadius;
    background: radial-gradient(transparent 85%, rgba(255,255,255,0.4));
    mix-blend-mode: hard-light;
    border: 1px solid rgba($color: #ffffff, $alpha: .7);
    pointer-events: none;

}

@mixin cont {

    // background: var(--bg);
    border: 1px solid rgba(255,255,255,0.7);
    box-sizing: border-box;
    position: relative;

    &::after {
        content: "";
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid black;
    }

}

@mixin theme () {

    body.aero-theme & {

        border: 1px solid black;
        border-radius: $aeroBRadius;
        
        backdrop-filter: blur($aeroBlur);
    
        .bg {
            @include background();
            z-index: -1;
        }
    
        .cont {
            @include cont();
            z-index: 0;
            background: var(--bg);
        }
    
        .outline {
            @include outline();
            z-index: 0;
        }
    
        &.off .bg {
            background-color: transparent;
        }


    }

    body.aero-theme.solid & {

        // background-color: var(--bg);
        backdrop-filter: none;

        .bg {
            opacity: 1;
            background: var(--bg);
        }

    }

}