@use "palette.scss";
@use "acrylic.scss";
@use "inputs/button.scss";

html { 
  height: 100%; 
  font-family: sans-serif;
  --image: none;
}

body, :fullscreen, ::backdrop {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;

  background: var(--bg);
  background-image: var(--image);
  background-size: cover;
}

#root {
  
  // display: grid;
  // grid-template-columns: auto;
  // grid-template-rows: auto min-content;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  .bgLogo {
  
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -12;
    pointer-events: none;
    display: flex;
  
    align-items: center;
    justify-content: center;

    svg {
      opacity: 0.5;
      animation: hue-shifter linear infinite 20s;
    }
    
  }

  .root-navbar {
    grid-row: 2;
  }
  
}


@keyframes hue-shifter {

  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }

}